@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proiect Medii De Programare Avansate </h1>
    </br>
    </br>
    <h1 class="display-4">Ilie Adrian-Laurentiu </h1>
</div>
